[user]
        name  = Mike Knepper
        email = git@mikeknep.com
[push]
        default = simple
[core]
        excludesfile  = ~/dotfiles/git/ignore
        editor        = nvim
        pager         = delta
[interactive]
        diffFilter = delta
[add.interactive]
        useBuiltin = false
[delta]
        features          = decorations
        syntax-theme      = Nord
        plus-style        = "syntax #2d4a16"
        plus-emph-style   = "#ffffff #6B8C4F"
        minus-style       = "syntax #60141B"
        minus-emph-style  = "#ffffff #88323A"
[delta "decorations"]
        commit-decoration-style       = "bold #fabd2f box ul"
        file-style                    = "bold #fabd2f ul"
        file-decoration-style         = "#fabd2f box"
        hunk-header-style             = omit
        hunk-header-decoration-style  = "#fabd2f box"
[alias]
        st = status
        c = commit
        br = branch
        lg = log --graph --pretty=format:'%C(magenta)%h %C(green)(%cr) %C(reset)%s %C(blue)<%an>%C(yellow)%d%C(reset)'
[push]
        autoSetupRemote = true
[pull]
        rebase = true
[init]
        defaultBranch = main
[includeIf "gitdir:~/code/gretel/"]
        path = ~/code/gretel/gitconfig
